<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar Contraseña</title>
    <link rel="stylesheet" href="/css/style_login.css">
    <link rel="stylesheet" href="/css/colores.css">
    <!-- <link rel="stylesheet" href="/css/estilos_lo.css"> -->
</head>
<body>
    <section>
        <div class="imgBx">
            <img src="/images/logo4.jpg">
        </div>
        <div class="contentBx">
            <div class="formBx">
                <h2>Recuperar Contraseña</h2>
                <form id="forgotPasswordForm">
                    <div class="inputBx">
                        <input type="email" id="email" name="email" placeholder="Ingrese su correo electrónico" required />
                    </div>
                    <div class="inputBx">
                      <!-- <button type="submit">Enviar enlace</button>   -->
                      <input type="submit" value="Enviar Enlace" name="">
                    </div>      
                </form>
                <div class="inputBx">
                    <p><a href="/login">Volver al login</a></p>  
                </div>
            </div>  
        </div>

    </section>
    <!-- <div class="login-page">
        <div class="form">
            <h1>Recuperar Contraseña</h1>
            <form id="forgotPasswordForm">
                <input type="email" id="email" name="email" placeholder="Ingrese su correo electrónico" required />
                <button type="submit">Enviar enlace</button>
            </form>
            <p><a href="/login">Volver al login</a></p>
        </div>
    </div> -->

    <script>
        document.getElementById('forgotPasswordForm').addEventListener('submit', async (event) => {
            event.preventDefault();

            const email = document.getElementById('email').value;

            try {
                const response = await fetch('/forgot-password', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({ email })
                });

                const result = await response.text();
                alert(result);
            } catch (err) {
                alert('Error al enviar la solicitud: ' + err);
            }
        });
    </script>
</body>
</html>
