<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restablecer Contraseña</title>
    <link rel="stylesheet" href="/css/style_login.css">
    <link rel="stylesheet" href="/css/colores.css">
    <!-- <link rel="stylesheet" href="/css/estilos_lo.css"> -->
</head>
<body>

    <section>
        <div class="imgBx">
            <img src="/images/logo4.jpg">
        </div>
        <div class="contentBx">
           <div class="formBx">
            <h1>Restablecer Contraseña</h1>
            <form id="resetForm">
                <div class="inputBx">
                   <input type="hidden" id="email" name="email" value="<%= email %>">
                </div>
                <div class="inputBx">
                    <span for="newPassword">Nueva Contraseña:</span>
                    <input type="password" id="newPassword" name="newPassword" required>   
                </div>
                <div class="inputBx">
                   <input type="submit"></input> 
                </div>
                
            </form>
            <div class="inputBx">
                <p><a href="/login">Volver al Login</a></p>
            </div>  
           </div> 
        </div>
            
    </section>

    <!-- <div class="login-page">
        <div class="form">
            <h1>Restablecer Contraseña</h1>
            <form id="resetForm">
                <input type="hidden" id="email" name="email" value="<%= email %>">
                <label for="newPassword">Nueva Contraseña:</label>
                <input type="password" id="newPassword" name="newPassword" required>
                <button type="submit">Actualizar Contraseña</button>
            </form>
            <p><a href="/login">Volver al Login</a></p>
        </div>
    </div> -->

    <script>
        document.getElementById('resetForm').addEventListener('submit', async (e) => {
            e.preventDefault();
            
            const email = document.getElementById('email').value;
            const newPassword = document.getElementById('newPassword').value;
            const response = await fetch('/reset-password', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ email, newPassword })
            });

            const result = await response.text();
            alert(result);
        });
    </script>
</body>
</html>
